@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#side-navbar {
  width: 30px;
  background-color: rgb(240, 240, 240);
  float: left;
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* #playlist {
    height: 100vh;
} */

#playlist-skin {
  width: 100%;
  height: auto;
}

#playlist-info {
  background-color: rgb(69, 69, 69);
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
}

#title > * {
  display: block;
  padding: 3px 0px 3px 0px;
}

/* #name {
    font-size: x-large;
} */

#infos {
  display: grid;
  grid-template-rows: 90% 10%;
  color: white;
  padding-left: 10px;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

#playlist-table {
  padding: 20px 0px 0px 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 18px;
}

tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

.cloud-sync {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  border: solid 1px blue;
}

.player {
  height: 120px;
  background-color: rgb(68, 104, 155);
  padding: 10px 0px 10px 10px;
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

#skin {
  display: grid;
  grid-template-columns: auto auto 1fr;
}

#song-info > label {
  display: block;
  color: white;
  padding: 20px 15px 20px 15px;
}

#controls {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#controls > button {
  color: white;
}
